<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    {{ghost_head}}
    <link rel="stylesheet" href="{{asset "css/screen.css"}}">
</head>
<body class="{{body_class}}">
    <div class="container">
        <header class="site-header">
            <h1><a href="{{@site.url}}/writing/">{{@site.title}}</a></h1>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer class="site-footer">
            <div class="signup-box">
                <span class="signup-text">Get emailed for new posts: </span>
                <button class="signup-button" data-portal="signup">Subscribe</button>
                <span class="signup-separator"> | </span>
                <a href="{{@site.url}}/rss/" class="rss-link">RSS</a>
            </div>
        </footer>
    </div>
    {{ghost_foot}}
</body>
</html>
