{{!< default}}

<div class="post-list">
    {{#foreach posts}}
    <article class="post-item">
        <h2><a href="{{url}}">{{title}}</a></h2>
        <div class="post-meta">
            {{date published_at format="YYYY-MM-DD"}}
            {{#if primary_tag}}
            · <a href="{{primary_tag.url}}">{{primary_tag.name}}</a>
            {{/if}}
        </div>
    </article>
    {{/foreach}}
</div>

{{pagination}}
